    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./assets/master.css">
    <title>boolfix</title>
  </head>
  <body>

    <div id="root">

      <nav>
        <p id="boolfix">boolfix</p>
        <select id="lista" v-model="genere" >
    		  <option value="">All</option>
    		  <option v-for="gen in generi" :value="gen.id">{{gen.name}}</option>
        </select>
        <input type="text" name="" value="" placeholder="insersci" v-model="search" @keyup.enter="add">
      </nav>
      <main>

        <div class="card" @mouseenter="cast(film.id) "  @mouseleave="actors =[]"  v-for="film in films" v-if="film.genre_ids.includes(genere) || genere == '' ">
        <div class="card-inner">
          <div class="card-cover">
            <img v-if="(film.poster_path)" :src="`https://image.tmdb.org/t/p/w342/${film.poster_path}` "alt="mha">
            <img v-else src="https://www.santoemma.com/site/santoemma_webprofessional_it/myapp/webbusiness/images/img-non-disponibile.png" alt="">
          </div>
          <div class="card-info">
            <span class="title">Titolo:{{ get_title(film) }}</span>
            <span v-if="film.title != film.original_title || film.name != film.original_name" class="title-origin">Titolo originale:{{ get_original_title(film) }}</span>
            <!-- <span class="overview"></span> -->
            <span v-for="actor in actors">{{actor}}</span>
            <span class="language">
              <img v-if="film.original_language == 'en' " src="https://www.countryflags.io/us/flat/64.png" alt="ciao">
              <img v-else :src=`https://www.countryflags.io/${film.original_language}/flat/64.png` alt="cis">

            </span>
            <div class="stelle">
              <span class="avarange" v-if="(film.vote_average)">
                Voto:<i v-for="stelle in vote(film.vote_average)" class="fas fa-star colorato"></i>
                <i v-for="stelle in (5 - vote(film.vote_average))" class="far fa-star"></i>
              </span>

            </div>
          </div>
        </div>
        </div>


      </main>

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
