    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./assets/master.css">
    <title>boolfix</title>
  </head>
  <body>

    <div id="root">

      <nav>
        <p id="boolfix">boolfix</p>
        <div class="flex-end">
          <input v-if="(films != 0)" type="text"  placeholder="Cerca" v-model="search" @keyup.enter="add">
          <select id="lista" v-if="(films != 0)" v-model="genere" >
      		  <option value="">All</option>
      		  <option v-for="gen in generi" :value="gen.id">{{gen.name}}</option>
          </select>
        </div>

      </nav>

      <main>
        <div class="anteprima" v-if="(films == 0)">
          <div class="container_ant">
            <div class="titolo">
              <h1>BOOLFIX</h1>
            </div>
            <div class="titolo_second">
              <h2>Guarda le tue serie tv e film preferiti in modo semplice e veloce.</h2>
              <h2>Boolfix ti permette anche di vedere le recensioni.</h2>
              <input type="text" placeholder="Cerca " v-model="search" @keyup.enter="add">
            </div>
          </div>
        </div>

        <div class="card" @mouseenter="cast(film.id)"  @mouseleave="actors =[]"  v-for="film in films" v-if="film.genre_ids.includes(genere) || genere == '' ">
        <div class="card-inner">
          <div class="card-cover">
            <img v-if="(film.poster_path)" :src="`https://image.tmdb.org/t/p/w342/${film.poster_path}` "alt="img non disponibile">
            <img v-else src="https://www.santoemma.com/site/santoemma_webprofessional_it/myapp/webbusiness/images/img-non-disponibile.png" alt="">
          </div>
          <div class="card-info">
            <span class="title">Titolo:{{ get_title(film) }}</span>
            <span v-if="film.title != film.original_title || film.name != film.original_name" class="title-origin">Titolo originale:{{ get_original_title(film) }}</span>
              <ul v-if="(actors != 0)" class="cast">Cast:
                <li v-for="actor in actors">{{actor}}</li>
              </ul>
            <span class="language">
              <img v-if="film.original_language == 'en' " src="https://www.countryflags.io/us/flat/64.png" alt="en">
              <img v-else-if="film.original_language == 'ja' " src="https://www.countryflags.io/jp/flat/64.png" alt="ja">
              <img v-else :src=`https://www.countryflags.io/${film.original_language}/flat/64.png` alt="bandiera non disponibile">
            </span>
            <div class="stelle">
              <span class="avarange" v-if="(film.vote_average)">
                Voto:<i v-for="stelle in vote(film.vote_average)" class="fas fa-star colorato"></i><i v-for="stelle in (5 - vote(film.vote_average))" class="far fa-star"></i>
              </span>
            </div>
          </div>
        </div>
        </div>
      </main>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
